body {
  width: auto;
  height: 100%;
  background-color: #c300ff;
  padding: auto;
  margin: 0;
}

.topnav {
  width: unset;
  background-color: #d400d9;
  color: white;  
  overflow: hidden;
  margin: 0%;
  padding: 0%;
  width: 100%;
  top: 0;
  list-style: inline-block;
  position: fixed;
  border-bottom: 2px solid black;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 19px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 100;
  transition: 0.3s;
}

.topnav a:hover {
  background-color: #fb00ff;
  color: white;
  padding: 19px 20px;
}

.topnav a.active {
  background-color: #87008a;
  color: white;
}

.topnav img {
  float: left;
  text-align: center;
  padding: 2px 20px;
  text-decoration: none;
  height: 50.7167px;
  width: 50.7167px;
}

p {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 15px;
  font-family: 'Roboto';
  font-weight: 100; 
}

hr.small {
  width: 25%;
  top: 2px;
  padding-top: 0px;
}

.botbar {
  width: unset;
  background-color: transparent;
  color: white;  
  border-bottom: transparent;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 100;
  margin: 0 0 1em 0;
  padding: 10px 0px 10px 10px;
}

.botbar li {
  display: inline;
}

.footertext {
  color: white;  
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 100;
  display: inline-flexbox;
  text-align: center;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.footertext h2 {
  color: white;  
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 100;
  display: inline-flexbox;
  text-align: center;
  margin: 0 0 1em 0;
  padding-top: 15px;
  padding-bottom: 0px;
}

.list-unstyled {
  color: white;
  list-style: none
}

.grid-container {
  top: 20px;
  display: grid;
  grid-column-gap: -30px;
  grid-template-columns: auto auto;
  background-color: transparent;
  padding: 10px;
}

.grid-item {
  top: 10px;
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item h2 {
  color: white;
  background-color: transparent;
  font-size: 25px;
  text-align: center;
}

.grid-item p {
  color: white;
  background-color: transparent;
  font-size: 18px;
  text-align: center;
}

.grid-item a {
  color: rgb(70, 0, 150);
  text-decoration-line: underline;
  background-color: transparent;
  font-size: 18px;
  text-align: center;
}

.grid-item-wide {
  top: 10px;
  display: grid;
  color: white;
  grid-template-columns: auto;
  /*background-color: rgba(195, 0, 255, 0.8);*/
  border: 1px solid transparent;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.text-muted {
  font-size: 18px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next button */
.next, .prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  text-decoration: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  text-decoration: none;
}
.prev {
  right: 97%;
  border-radius: 3px 0 0 3px;
  text-decoration: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-decoration: none;
}

.numbertext {
  color: transparent;
  background: transparent;
  overflow: hidden;
  position: none;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  color: white;
  overflow: hidden;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* mobile version*/
@media screen and (max-width: 600px) {
  .topnav {
    position: fixed;
    width: auto;
    float: center;
    top: 0;
    overflow: hidden;
  }
  .topnav a {
    width: 1%;
    float: center;
    overflow: hidden;
  }
  .topnav h1 {
    float: none;
    display: none;
    top: 0;
    left: 0;
  }
  .topnav span {
    visibility: none;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 0px;
    float: none;
    display: none;
    top: 0;
    left: 0;
  }
  .topnav img {
    float: none;
    display: none;
    top: 0;
    left: 0;
  }
  .grid-container {
    top: 40px;
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns: auto;
    background-color: transparent;
    padding: 10px;
  }
}