body {
  width: auto;
  height: auto;
  background-color: #0059ff;
  background-image: url(../img/2021-02-05-120215.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  padding: auto;
  margin: 0;
}

.topnav {
  width: unset;
  background-color:  #0059ff;
  color: white;  
  overflow: hidden;
  margin: 0%;
  padding: 0%;
  width: 100%;
  top: 0;
  list-style: inline-block;
  position: top;
  opacity: 0.85;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 19px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 100;
  transition: 0.3s;
}

.topnav a:hover {
  background-color:  #2f78ff;
  color: white;
  padding: 19px 20px;
}

.topnav a.active {
  background-color:  #003aa5;
  color: white;
}

.topnav a1 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 19px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 100;
}

p {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 15px;
  font-family: 'Roboto';
  font-weight: 100;
}

hr.small {
  width: 25%;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
}

.botbar {
  width: unset;
  color: white;  
  border-bottom: transparent;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 100;
  margin: 0 0 1em 0;
  padding: 10px 0px 10px 10px;
}

.botbar li {
  display: inline;
}

.botbar li a {
  display: inline;
}

.text-muted {
  font-size: 15px;
}

.footertext {
  color: white;  
  background-color: #0059ff;
  opacity: 0.85;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 100;
  display: inline-flexbox;
  text-align: center;
  padding-bottom: 10px;
  top: 100%;
  bottom: 0%;
  width: 100%;
}

.footertext h2 {
  color: white;  
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 100;
  display: inline-flexbox;
  text-align: center;
  margin: 0 0 1em 0;
  padding-top: 15px;
  padding-bottom: 0px;
  opacity: 1.0;
}

.list-unstyled {
  color: white;
  list-style: none;
}

.grid-container {
  margin: auto;
  padding: auto;
  width: 85%;
  padding-top: 25px;
  padding: auto;
  padding-bottom: 25px;
  display: grid;
  grid-column-gap: -30px;
  grid-template-columns: auto auto;
  background-color:transparent;
  overflow: hidden;
}

.grid-item {
  top: 20px;
  color: white;
  background-color:#0059ff;
  opacity: 0.85;
  border: 1px solid transparent;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
}

.grid-item h2 {
color: white;
background-color: transparent;
font-size: 25px;
text-align: center;
}

.grid-item p {
color: white;
background-color: transparent;
font-size: 18px;
text-align: center;
}

.grid-item a {
color: #00d0f5;
text-decoration-line: underline;
background-color: transparent;
font-size: 18px;
text-align: center;
}

.grid-item img {
  width: auto;
  height: auto;
  opacity: 1;
}

.grid-item-wide {
  top: 20px;
  color: white;
  background-color:#0059ff;
  opacity: 0.85;
  border: 1px solid transparent;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  float: center;
  width: 100%;
  padding-top: 25px;
  padding: auto;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: auto;
  overflow: hidden;
  margin-right: 100%;
}

.grid-item-wide h2 {
  color: white;
  background-color: transparent;
  font-size: 25px;
  text-align: center;
  }
  
  .grid-item-wide p {
  color: white;
  background-color: transparent;
  font-size: 18px;
  text-align: center;
  }
  
  .grid-item-wide a {
  color: #00d0f5;
  text-decoration-line: underline;
  background-color: transparent;
  font-size: 18px;
  text-align: center;
  }
  
  .grid-item-wide img {
    width: auto;
    height: auto;
    opacity: 1;
  }

/* 4:3 version*/
@media screen and (max-width: 1200px) {
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-position-y: top;
  }
  .topnav {
    position: fixed relative;
    width: 100%;
    float: center;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    top: 0;
    overflow: hidden;
    padding-right: 11%;
    margin-left: -6%;
  }
  .topnav a {
    width: 6%;
    float: center;
    overflow: hidden;
  }
  .topnav h1 {
    float: none;
    display: none;
    top: 0;
    left: 0;
  }
  .topnav span {
    visibility: none;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 0px;
    float: none;
    display: none;
    top: 0;
    left: 0;
  }
  .topnav a1 {
    float: none;
    display: none;
    top: 0;
    left: 0;
  }
  .grid-container {
    grid-template-columns: auto;
    padding-top: 25px;
    padding: auto;
    padding-bottom: 25px;
  }
  .grid-item img {
    width: 80%;
    height: auto;
  }
  .grid-item-wide img {
    width: 80%;
    height: auto;
    float: center;
    margin-left: -7%;
  }
  .footertext {
    overflow: hidden;
    padding-right: 5%;
    width: 100%;
    top: 100%;
    bottom: 0%;
    margin-bottom: 0%;
    object-position: bottom;
  }
}

/* mobile version*/
@media screen and (max-width: 600px) {
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-position-y: top;
  }
  .topnav {
    position: fixed relative;
    width: 100%;
    float: center;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    top: 0;
    overflow: hidden;
    padding-right: 11%;
    margin-left: -6%;
  }
  .topnav a {
    width: 6%;
    float: center;
    overflow: hidden;
  }
  .topnav h1 {
    float: none;
    display: none;
    top: 0;
    left: 0;
  }
  .topnav span {
    visibility: none;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 0px;
    float: none;
    display: none;
    top: 0;
    left: 0;
  }
  .topnav a1 {
    float: none;
    display: none;
    top: 0;
    left: 0;
  }
  .grid-container {
    grid-template-columns: auto;
    padding-top: 25px;
    padding: auto;
    padding-bottom: 25px;
  }
  .grid-item img {
    width: 80%;
    height: auto;
  }
  .grid-item-wide img {
    width: 80%;
    height: auto;
    float: center;
    margin-left: -7%;
  }
  .footertext {
    overflow: hidden;
    padding-right: 5%;
    width: 100%;
    top: 100%;
    bottom: 0%;
    margin-bottom: 0%;
    object-position: bottom;
  }
}